@model dynamic

<input type="hidden" id="title" value="@Model.title" />

<section>
    <ul>
        @foreach (var item in (Model.items ?? new SinglePageTest.Models.IndexItemModel[] { }))
        {
            <li>@item.name</li>
        }
    </ul>
</section>
