@model string
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title data-bind="text: title"></title>
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript" src="~/Scripts/libs/require/require.min.js" data-main="@Url.Content("~/Scripts/bootstrap")"></script>
    </head>
    <body>
        <header>Single Page App Demo - <span data-bind="text: title"></span></header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Non-Single Page Index", "Index")</li>
                <li>@Html.SinglePageActionLink("Single Page About", "About")</li>
                <li>@Html.SinglePageActionLink("Single Page Contact", "Contact")</li>
            </ul>
        </nav>
        <div id="body"></div>
        <footer></footer>
        <script type="text/javascript">require(['@Model'], function (pageModule) { pageModule.load(); })</script>
    </body>
</html>
